[submodule "Tools/gibMacOS"]
	path = Tools/gibMacOS
	url = git@github.com:corpnewt/gibMacOS.git
[submodule "Tools/SSDTTime"]
	path = Tools/SSDTTime
	url = git@github.com:corpnewt/SSDTTime
[submodule "OpenCore"]
	path = OpenCore
	url = git@github.com:acidanthera/OpenCorePkg.git
